body {
  font: 14px "Century Gothic", Futura, sans-serif;
  /* margin: 20px; */
  height: 100vh;
  text-align: center;
}

ol,
ul {
  padding-left: 30px;
}
/* 
.App {
  
} */

.App-logo {
  height: 40vmin;
}
